.header {
  background: #444446;
  width: 60%;
  margin-left: 20%;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
}
.main {
  width: 60%;
  margin: 25px 20% 200px 20%;
  background: #444446;
}

.resume {
  width: 100%;
  height: 200px;
  background: #444446;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  border-bottom: 20px solid #222226;
}

.resume-main img {
  border-radius: 50%;
  margin-bottom: 20px;
}

.form-add-resume {
  max-width: 100%;
}

.resume-main {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
  position: relative;
}

.resume-main div {
}

.resume-main div .field-input {
  width: 250px;
}

.resume-main div select {
  background-color: rgb(59, 59, 59);
  border: none;
  color: #fff;
}

.resume-main div select:focus {
  background-color: rgb(59, 59, 59);
  color: #fff;
}

.resume-main .field-label {
  width: 100px;
}

.field .field-input {
  width: 300px;
}

.resume-main .field {
  display: flex;
}

.resume-main select {
  margin: 0;
}

.form-add-resume input{
  height: 50px;
}

.block-resume {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: normal;
  width: 150px;
}

.resume .block-resume:last-child span {
  text-align: end;
}

.resume-img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}
button {
  background: #666;
  border: none;
}
form {
  background: #444446;
}
h1 {
  margin-top: 150px;
}
.form-add-resume {
  display: flex;
  margin: 10px;
  flex-direction: column;
  padding-right: 0;
}
.field {
  margin: 10px;
}
.field-label {
  float: left;
  width: 150px;
}
.main .form-add-resume .field .field-input {
  display: block;
  color: #fff;
  height: calc(1.5em + .75rem + 2px) !important;
}
form input {
  background-color: rgb(59, 59, 59)!important;
  /*color: #8a97a0!important;*/
  border: none!important;
}
form input:focus {
  /*color: #8a97a0!important;*/
}
button, input[type=submit] {
  color: #fff;
  background-color: #666!important;
  border: none;
}

a {
  color: #fff;
}

a:hover {
  color: #fff;
}

.resume-buttons {
  display: flex;
  justify-content: space-between;
  position: relative;
}

.resume-buttons button {
  width: 200px;
  margin: 20px;
}

.resume-info {
  display: flex;
  justify-content: space-between;
  border-bottom: 20px solid #222226;
}

.resume-info div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 25%;
}

.resume-info div:last-child {
  align-items: flex-end;
}

.resume-info div span, .resume-info div img {
  margin: 20px;
}

.select-status {
  margin: 0;
}

.resume-all-comments .block {
  border-bottom: 20px SOLID #222226;
}

.resume-add-comments div, .resume-all-comments div div {
  display: flex;
  justify-content: space-between;
}

.resume-comments div span {
  margin: 20px;
}

.resume-comment-text textarea {
  height: 100px;
  background-color: rgb(59, 59, 59);
  resize: none;
  color: white;
}

.resume-comments .resume-comment-text {
  margin: 20px;
  justify-content: center;
}

.resume-add-comments {
  padding-bottom: 20px;
  padding-top: 20px;
  border-bottom: 20px SOLID #222226;
}

.resume-add-comments form {
  max-width: 100%;
  padding: 0;
  color: white;
}

.resume-add-comments select, select {
  width: 200px;
  margin: 20px;
  background-color: rgb(59, 59, 59);
  color: white;
}

.resume-add-comments form button {
  margin-bottom: 10px;
}

.resume-comments .rating-area {
  overflow: hidden;
  margin: 20px 0 20px 0;
  display: flex;
  flex-direction: row-reverse;
}

.resume-comments .rating-area:not(:checked) > input {
  display: none;
}

.resume-comments .rating-area:not(:checked) > label {
  float: right;
  padding: 0;
  cursor: pointer;
  font-size: 20px;
  color: lightgrey;
  text-shadow: 1px 1px #bbb;
  margin-bottom: 0;
}

.resume-comments .rating-area:not(:checked) > label:before {
  content: '★';
}

.resume-comments .rating-area > input:checked ~ label {
  color: gold;
  text-shadow: 1px 1px #c60;
}

.resume-add-comments .rating-area:not(:checked) > label:hover,
.resume-add-comments .rating-area:not(:checked) > label:hover ~ label {
  color: gold;
}

.rating-area > input:checked + label:hover,
.rating-area > input:checked + label:hover ~ label,
.rating-area > input:checked ~ label:hover,
.rating-area > input:checked ~ label:hover ~ label,
.rating-area > label:hover ~ input:checked ~ label {
  color: gold;
  text-shadow: 1px 1px goldenrod;
}

.rate-area > label:active {
  position: relative;
}

.rating-mini {
  display: flex;
}

.rating-mini span {
  padding: 0;
  font-size: 20px;
  line-height: 1;
  color: lightgrey;
}

.rating-mini > span:before {
  content: '★';
}

.resume-all-comments .rating-mini span {
  margin: 20px 0 20px 0;
}

.rating-mini > span.active {
  color: gold;
}

.navbar-dark {
  margin: 20px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.navbar-toggler {
  position: absolute;
  left: 100%;
  width: 100%;
  z-index: 10;
  margin-top: 20px;
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

.navbar-toggler li {
  list-style-type: none;
}

.navbar-toggler ul {
  padding-inline-start: 10px;
}

.navbar-toggler ul li {
  margin-bottom: 10px;
}

.modal-content {
  background-color: #666;
}

.modal-content .modal-header > button {
  width: 10px;
  height: 10px;
  margin: 0;
  padding: 0;
}

.modal-body > span, .modal-body > select {
  margin: 10px;
}

.modal-body .select2 span {
  background-color: #666;
  border: none;
  color: #fff;
}

.modal-body .select2 span .select2-selection__choice__remove {
  width: 20px;
  border-style: none;
}

.modal-body .select2 ul .select2-selection__choice {
  background-color: #666;
  border: 1px SOLID #ccc;
  margin-left: 5px;
  margin-right: 5px;
}

.modal-body .select2 {
  background-color: #666;
  border: 1px SOLID;
  color: #fff;
  width: 100%!important;
  margin: 10px 0 0;
}

.select2-results__option {
  background-color: #666;
}

.modal-content .modal-body {
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.btn-tertiary{
  color: #ccc;
  padding: 0;
  line-height: 40px;
  display: block;
  width: 200px;
  border: 2px solid #ccc
}

.btn-tertiary:hover,.btn-tertiary:focus {
  color: #888;
  border-color: #888
}

.photo-load {
  width: .1px;
  height: .1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.photo-load + .js-labelFile{
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding: 0 10px;
  cursor: pointer
}

.photo-load + .js-labelFile .icon:before{
  content: "\f093"
}

.photo-load + .js-labelFile.has-file .icon:before{
  content: "\f00c";
  color: #5AAC7B
}

.avatar {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.select-roles, .select-status {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: #444446;
  width: auto;
}

.resume-main .navbar-toggler {
  margin-left: 20px;
}

.flex-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.modal-footer {
  flex-wrap: nowrap;
}

.modal-body > div {
  margin-top: 20px;
  height: 40px;
}

.modal-body input {
  width: auto;
  height: 40px;
  color: #fff;
  background-color: #666;
  border: 1px SOLID #fff;
  padding: 5px;
  box-shadow: none;
}

.modal-body label {
  width: 120px;
}

.statistic .title {
  justify-content: center;
  display: flex;
  margin: 20px;
  padding-top: 20px;
}

.statistic .title span {
  font-size: x-large;
}

.statistic .filters {
  margin: 20px;
}

.statistic .filters label {
  width: 150px;
}

.statistic .filters input {
  margin: 20px;
  background-color: rgb(59, 59, 59);
  border: 1px SOLID #666;
  color: #fff;
  padding: 5px 5px 5px 10px;
}

.statistic .filters select {
  border: 1px SOLID #666;
  height: 40px;
  padding: 5px;
}

.statistic button {
  width: 300px;;
}

.statistic .button {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.statistic > div:first-child {
  border-bottom: 40px SOLID #222226;
}

.statistic .info {
  display: flex;
  flex-direction: column;
}

.statistic .info label {
  margin: 20px;
  width: 200px;
}